@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0px;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-weight: 700;
  margin: .5em 0;
}

h2 {
  text-align: center;
  font-weight: 600;
  margin: .5em 0;
}

header {
  margin: 0.5em 0;
}

header p {
  font-size: .8em;
  font-style: italic;
  margin: .25em 0;
  text-align: center;
}

a {
  display: block;
  margin: 1em;
  text-align: center;
  font-weight: 500;
}

.sphere {
  fill: #c4faff;
}

.country {
  fill: #a1ffa7;
  stroke: black;
  stroke-opacity: 0.1;
}

.categoryLabel {
  font-size: .5em;
  font-weight: 400;
}

.svgWrap {
  display: flex;
  justify-content: center;
  align-content: center;
}

.detailSectionText {
  font-size: .75em;
  margin: 0 0 .25em 0;
}

#legendSvg {
  width: 20%;
}

#mapSvg {
  width: 60%;
}

#detailSection {
  width: 20%;
  padding: 1em;
  background-color: #b8e5ff;
  height: 30.5em;
}

#detailSection p:first-of-type {
  font-weight: 700;
}

svg {
  height: 32.5em;
  background-color: #d5eefd;
}

circle {
  fill: white;
	stroke: black;
  stroke-width: .5;
}


  